.container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.text {
  margin-bottom: var(--dl-space-space-twounits);
}
.modal {
  flex: 0 0 auto;
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-v3-dark-bg-1);
}
.container01 {
  justify-content: flex-start;
}
.container03 {
  display: flex;
}
.container05 {
  display: flex;
}
.container08 {
  display: flex;
}
.container10 {
  display: flex;
}
.container12 {
  display: flex;
}
.container13 {
  justify-content: flex-end;
}
.container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container15 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container16 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container17 {
  height: 24px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 8px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-68e973);
}
.text8 {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
}
@media(max-width: 991px) {
  .text2 {
    color: #7b7a7a;
  }
  .text3 {
    color: #7b7a7a;
  }
  .container06 {
    justify-content: flex-start;
  }
  .text4 {
    color: rgba(255, 165, 0, 0.8);
  }
  .text5 {
    color: #7b7a7a;
  }
  .text6 {
    color: #f9617b;
  }
  .text7 {
    color: #7b7a7a;
  }
  .container13 {
    width: 100%;
    border-top: solid 1px #363636;
  }
}
