.container {
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: 4px;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: 8px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 8px;
  flex-direction: column;
  padding-bottom: 4px;
  background-color: var(--dl-color-gray-white);
}
.text {
  font-size: 12px;
}
.root-class-name2 {
  top: 243px;
  left: 444px;
  width: 320px;
  position: absolute;
}
.root-class-name3 {
  top: 261px;
  left: 479px;
  position: absolute;
}
.root-class-name4 {
  top: 293px;
  left: 163px;
  position: absolute;
}
.root-class-name5 {
  top: 255px;
  right: 41px;
  width: 240px;
  position: absolute;
}
.root-class-name6 {
  top: 309px;
  right: 41px;
  width: 240px;
  position: absolute;
}
.root-class-name7 {
  top: 181px;
  left: 547px;
  position: absolute;
}
.root-class-name8 {
  top: 179px;
  left: 444px;
  position: absolute;
}
.root-class-name9 {
  top: 210px;
  left: 444px;
  position: absolute;
}
.root-class-name10 {
  top: 243px;
  left: 444px;
  width: 320px;
  position: absolute;
}
@media(max-width: 991px) {
  .container {
    top: 179px;
    left: 444px;
    width: auto;
    padding: 4px;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-700);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .text {
    top: 0px;
    left: 0px;
    position: static;
  }
  .root-class-name2 {
    top: 210px;
    left: 443px;
    width: 320px;
  }
  .root-class-name3 {
    top: 324px;
    left: 198px;
  }
  .root-class-name4 {
    top: 324px;
    left: 198px;
  }
  .root-class-name5 {
    top: 255px;
    left: unset;
    right: 41px;
  }
  .root-class-name6 {
    top: 309px;
    left: unset;
    right: 46px;
  }
  .root-class-name7 {
    top: 324px;
    left: 198px;
  }
  .root-class-name8 {
    top: 174px;
    left: 445px;
  }
  .root-class-name9 {
    top: 208px;
    left: 444px;
  }
  .root-class-name10 {
    top: 239px;
    left: 444px;
    width: 320px;
  }
}
